.header__lang-link {
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  transition: opacity 0.5s;
  opacity: 1;
}
.header__lang-link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
