.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 360px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 767px) {
  .cover__subtitle {
    padding-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
