.header {
  width: 100%;
  max-width: 1280px;
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
  }
}
