.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: white;
  transition: opacity 0.5s;
  opacity: 1;
}
.footer__link:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    width: fit-content;
  }
}
