.place__paragraph {
  margin: 0;
  padding-top: 25px;
  font-size: 18px;
  font-weight: normal;
  line-height: 29.34px;
}
.place__paragraph:first-of-type {
  padding-top: 0;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}
@media (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
  }
}
