.lead__subtitle {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 64px;
  max-width: 640px;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}
@media (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
