.cover {
  width: 100%;
  max-width: 1280px;
  padding: 90px 48px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .cover {
    padding: 90px 0 0;
  }
}
@media (max-width: 767px) {
  .cover {
    padding: 66px 0 0;
  }
}
